---
import Container from "@/components/container.astro";
import Hero from "@/components/hero.astro";
import Layout from "@/layouts/Layout.astro";
---

<Layout title="">
  <Container>
    <main>
      <Hero style="height: 100%;" />
    </main>
  </Container>
</Layout>
<style>
  main {
    padding: 0;
    min-height: calc(100vh - 60px - (10px * 2));
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
    font-size: 16px;
    line-height: 1.5;
    color: var(--md-sys-color-on-background);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
</style>
