---
import Container from "@/components/container.astro";
import Layout from "@/layouts/Layout.astro";
import * as greatPost from "./markdowns/legal.md";
// Import statement
import { Content } from "./markdowns/legal.md";
// Collections query
import { getEntry, render } from "astro:content";

// const product = await getEntry("products", "shirt");
// const { Content } = await render(product);
---

<Layout title="Legal">
  <Container>
    <h1>{greatPost.frontmatter.title}</h1>
    <h3>{greatPost.frontmatter.author}</h3>
    <p>{greatPost.frontmatter.date}</p>
    <Content />
  </Container>
</Layout>
